<!DOCTYPE html>
<html>
<head>
		<title>Controladoria</title>
		<meta charset="UTF-8"/>
        <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		<link rel="stylesheet" type="text/css" href="/css/jquery.dataTables.min.css">

</head>

	<body>
	<div class="container">
       <div class="row">
         <div class="panel panel-primary">
            <div class="panel-heading">
            </div>

            <div class="panel-body">
                	<div class="row">
							<div class="col-md-6">
									<p style="text-align: justify">Bem vindo à área administrativa!.</p>
							</div>
						</div>
						<a id="#" class="btn btn-default" target="_blank" href="/controladoria-2018/admin/excel">Resultados</a>

            </div>
            <div class ="panel-footer">
				<a class="btn btn-default" id="botaoSair" href="/controladoria-2018/logoff">Sair</a>
            </div>
       </div>
    </div>
    </div>


    

	<script type="text/javascript" src="/js/jquery.js"></script>
	<script type="text/javascript" src="/js/bootstrap.js"></script>
	<script type="text/javascript" src="/js/bootbox.min.js"></script>
	<script type="text/javascript" src="/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" src="/js/admin/main-admin.js"></script>
	</body>
</html>
