<!DOCTYPE html>
<html>
<head>
		<title>Controladoria</title>
		<meta charset="UTF-8"/>
		<link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		<link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="/css/iconfont/material-icons.css">
</head>

	<body>

	<div class="img-header">
		<img class="img-item left" src="/img/marca_CCSA.png"/>
		<img class="img-item right" src="/img/marca_computação_informatica.png"/>
	</div>
	<div class="container-fluid">
		<div class="panel panel-primary">
			<div class="panel-heading"></div>
			<div class="panel-body">
				<div class="row">
					<span style="padding: 0px 30px 0px 90px" class="titulo text-center">Autodiagnostico de ponto de equilíbrio e margem de segurança</span>

				</div>
				<br/>
				<p class="text-muted credit">Projeto com recursos do Mackpesquisa e vinculado ao Programa de Pós-Graduação em Ciências Contábeis da Universidade Presbiteriana Mackenzie</p>
					<div class="elemento-escondido" style="width: 100%; height: 30px; border-bottom: 1px solid black; text-align: center">
						<span id="tituloExibido" style="font-size: 20px">

						</span>
					</div>
					<hr id="linha"/>

					<div class="apresentacao elemento-escondido">
						<div id="conteudo_0">
							<div class="row">
								<p style="text-align: justify">O ponto de equilíbrio e a margem de segurança constituem indicadores importantes e através deles você poderá direcionar
								os esforços dos gestores para atingirem os objetivos organizacionais. Além disso, o uso adequado das ferramentas de
								controle gerencial ajuda a organização a ter melhor desempenho.</p>
							</div>

							<div class="row">
								<p style="text-align:justify">O autodiagnostico dura geralmente em torno de dez minutos, ao final você receberá um feedback indicando pontos de
								atenção para melhoria dos controles de sua organização.</p>
							</div>

							<br/>
							<div class="row">
								<div class="col-md-6 botoes">
									<a id="modalLider" class="btn btn-default" href="#">Líder da pesquisa</a>
								</div>

								<div class="col-md-6 botoes">
									<a id="modalTermo" class="btn btn-default" target = "_blank" href="/controladoria/termo">Termo de confidencialidade</a>
								</div>
							</div>
							<br/>
							<div class="row">
								<div class="col-md-4">
									<input id="inicioQuestionario" type="checkbox" name="concordo" class="form-group"/>  Eu concordo
								</div>
							</div>
					</div>
					</div>
				<div class="dados-respondente col-md-12 elemento-escondido">
					<div  id="conteudo_1">
						<strong>Afim de enquadrar sua empresa entre microempresa (ME), Empresa de pequeno porte (EPP), ou Empresa de Grande porte, com base na Lei complementar 155 de 2016, informe em qual alternativa de faturamento sua Empresa se enquadra</strong>
						<br/>
						<br/>

						<span class="linha-resposta-vertical" id="faturamento-empresa">
							<input type="radio" data-category = "1" value="até R$ 360.000,00"> até R$ 360.000,00
							<br/><input type="radio" data-category = "2" value="entre R$ 360.0001,00 a R$ 4.800.000,00"> entre R$ 360.0001,00 a R$ 4.800.000,00
							<br/><input type="radio" data-category = "3" value="acima de R$ 4.800.001,00"> acima de R$ 4.800.001,00
						</span>

					</div>
					<div class="elemento-escondido" id="conteudo_2">
						<strong>Indique em qual região geográfica sua empresa está localizada</strong>
						<br/>
						<br/>

						<span class="row linha-resposta-vertical" id="regiao-empresa">

								<input type="radio" data-category = "1" value="Centro-Oeste"> Centro-Oeste
								<br/><input type="radio" data-category = "2" value="Nordeste"> Nordeste
								<br/><input type="radio" data-category = "3" value="Norte"> Norte
								<br/><input type="radio" data-category = "4" value="Sul"> Sul
								<br/><input type="radio" data-category = "5" value="Sudeste"> Sudeste

						</span>

					</div>

					<div class="elemento-escondido" id="conteudo_3">
						<strong>Indique em qual segmento sua Empresa atua</strong>
						<br/>
						<br/>
						<span class="linha-resposta-vertical" id="segmento-empresa">
							<section class="col-md-6">
								<input type="radio" data-category = "1" value="Prestação de serviços"> Prestação de serviços
								<br/><input type="radio" data-category = "2" value="Comércio"> Comércio
								<br/><input type="radio" data-category = "3" value = "Industria"> Industria
								<br/><input type="radio" data-category = "4" value = "Todas as alternativas"> Todas as alternativas
							</section>

						</span>
					</div>

					<div class="elemento-escondido" id="conteudo_4">
						<strong>Para verificamos o seu nível de conhecimento sobre as ferramentas gerencias relacionadas ao ponto de equilíbrio, margem de segurança e concentração de clientes, indique o seu nível de conhecimento q respeito dessas ferramentas com base nas alternativas listadas abaixo</strong>
						<br/>
						<br/>
						<span class="linha-resposta-vertical" id="conhecimento-ferramentas">
							<section class="col-md-6">
								<input type="radio" data-category = "0" value="Nenhum conhecimento"> Nenhum conhecimento
								<br/><input type="radio" data-category = "1" value = "Tenho conhecimento mas nunca utilizei"> Tenho conhecimento mas nunca utilizei
								<br/><input type="radio" data-category = "2" value = "Tenho conhecimento e utilizo estas ferramentas"> Tenho conhecimento e utilizo estas ferramentas
							</section>

						</span>
					</div>

					<div class="elemento-escondido" id="conteudo_5">
						<strong>Analisando o faturamento de sua Empresa ao longo do ano, saberia nos informar o grau de volatilidade ao longo dos meses, ou seja, o percentual de variação entre um mês e outro que geralmente ocorre?</strong>
						<br/>
						<br/>
						<strong>O cálculo de variação de seu faturamento pode ser realizado conforme exemplo:</strong>
						<br/>
						<span  style="border:1px black solid; display: inline-block; width: 600px;">
							<section class="col-md-9">
								Maior faturamento do período analisado: 100.000,00<br/>
								Menor faturamento do período analisado: 75.000,00<br/>
								Calculo da volatilidade: 100.000,00 – 75.000,00<br/>
								Logo o cálculo do percentual seria: 25.000,00 / 100.000,00 = 0,25<br/>
							</section>
							<section class="col-md-2" style="float: right;">
								100.000<br/>
								75.000<br/>
								25.000<br/>
								<strong>25%</strong><br/>
							</section>
						</span>
						<br/>
						<br/>
						<span class="linha-resposta-vertical" id="grau-volatilidade">
							<section class="col-md-7">
								<input type="radio" data-category = "0" value="Não possui volatilidade, o faturamento é estável"> Não possui volatilidade, o faturamento é estável
								<br/><input type="radio" data-category = "1" value = "A variação da receita entre um mês e outro é até 25%"> A variação da receita entre um mês e outro é até 25%
								<br/><input type="radio" data-category = "2" value = "A variação da receita entre um mês e outro está entre 25% a 50%"> A variação da receita entre um mês e outro está entre 25% a 50%
								<br/><input type="radio" data-category = "3" value = "A variação da receita entre um mês é acima de 50%"> A variação da receita entre um mês é acima de 50%
								<br/><input type="radio" data-category = "4" value = "Não sei calcular"> Não sei calcular
							</section>

						</span>
					</div>

					<div class="elemento-escondido" id="conteudo_6">
						<strong>Sabendo-se que a margem de contribuição é a diferença entre o preço de venda e o total dos custos variáveis necessários para a produção dos produtos a serem vendidos, tais como matérias primas, materiais secundários, e demais custos que variam com base no volume de produção.</strong>
						<br/>
						<br/>
						<strong>O cálculo de variação da margem de contribuição pode ser realizado conforme exemplo:</strong>
						<br/>
						<span  style="border:1px black solid; display: inline-block; width: 600px;">
							<section class="col-md-9">
								Faturamento do período<br/>
								(-) Custos Variáveis <strong>(1)</strong><br/>
								<strong>(=) Margem de Contribuição</strong><br/>
								<br/>
								Margem de Contribuição em % = 400.000/1.000.000 <br/>
								<br/>
								<strong>(1) Custos Variáveis</strong><br/>
								Consumo de Matéria Prima<br/>
								Mão de Obra Direta<br/>
								Materiais diversos aplicados<br/>
								<strong>Total</strong><br/>
							</section>
							<section class="col-md-2" style="float: right;">
								<span style="white-space:pre;">     1.000.000 </span>
								<u style="white-space:pre;">     (600.000) </u><br/>
								<strong style="white-space:pre;">       400.000 </strong><br/>
								<br/>
								<u style="white-space:pre;">           40%   </u><br/>
								<br/>
								<br/>
								<span style="white-space:pre;">       350.000 </span>
								<span style="white-space:pre;">       200.000 </span>
								<u style="white-space:pre;">        50.000   </u><br/>
								<strong style="white-space:pre;">       600.000 </strong><br/>
							</section>
						</span>
						<br/>
						<br/>
						<strong>Com base no exemplo demonstrado acima, informe o percentual da sua margem de contribuição no custo total de seu faturamento:</strong><br/>
						<br/>
						<span class="linha-resposta-vertical" id="contribuicao-percentual">
							<section class="col-md-6">
								<input type="radio" data-category = "0" value="até 12%"> até 12%
								<br/><input type="radio" data-category = "1" value = "de 12,01% a 24%"> de 12,01% a 24%
								<br/><input type="radio" data-category = "2" value = "de 24,01% a 36%"> de 24,01% a 36%
								<br/><input type="radio" data-category = "3" value = "de 36,01% a 48%"> de 36,01% a 48%
								<br/><input type="radio" data-category = "4" value = "de 48,01% a 60%"> de 48,01% a 60%
								<br/><input type="radio" data-category = "5" value = "de 60,01% a 72%"> de 60,01% a 72%
								<br/><input type="radio" data-category = "6" value = "de 72,01% a 84%"> de 72,01% a 84%
								<br/><input type="radio" data-category = "7" value = "acima de 84%"> acima de 84%
							</section>

						</span>
					</div>

					<div class="elemento-escondido" id="conteudo_7">
						<strong>Considerando que o ponto de equilíbrio é o faturamento mínimo que sua Empresa precisa obter para não fechar o período com prejuízo ou lucro no ano, informe em qual percentual do seu faturamento está o seu ponto de equilíbrio. O cálculo do percentual pode ser realizado conforme exemplo:</strong>
						<br/>
						<br/>
						<strong>O cálculo de variação da margem de contribuição pode ser realizado conforme exemplo:</strong>
						<br/>
						<span  style="border:1px black solid; display: inline-block; width: 600px;">
							<section class="col-md-9">
								Faturamento do período<br/>
								Total de despesas e impostos do período<br/>
								<br/>
								Faturamento mínimo para não apurar prejuízos<br/>
								<br/>
								O percentual do ponto de equilíbrio = 200.000/1.000.000 = 0,2<br/>
							</section>
							<section class="col-md-2" style="float: right;">
								<span style="white-space:pre;">     1.000.000 </span>
								<span style="white-space:pre;">       200.000 </span>
								<br/>
								<br/>
								<span style="white-space:pre;">       200.000 </span>
								<u style="white-space:pre;">                      </u><br/>
								<strong style="white-space:pre;">       20% </strong><br/>
							</section>
						</span>
						<br/>
						<br/>
						<strong>Com base no exemplo demonstrado acima, informe o percentual do ponto de equilíbrio de seu faturamento:</strong><br/>
						<br/>
						<span class="linha-resposta-vertical" id="faturamento-percentual">
							<section class="col-md-6">
								<input type="radio" data-category = "0" value="até 12%"> até 12%
								<br/><input type="radio" data-category = "1" value = "de 12,01% a 24%"> de 12,01% a 24%
								<br/><input type="radio" data-category = "2" value = "de 24,01% a 36%"> de 24,01% a 36%
								<br/><input type="radio" data-category = "3" value = "de 36,01% a 48%"> de 36,01% a 48%
								<br/><input type="radio" data-category = "4" value = "de 48,01% a 60%"> de 48,01% a 60%
								<br/><input type="radio" data-category = "5" value = "de 60,01% a 72%"> de 60,01% a 72%
								<br/><input type="radio" data-category = "6" value = "de 72,01% a 84%"> de 72,01% a 84%
								<br/><input type="radio" data-category = "7" value = "acima de 84%"> acima de 84%
							</section>

						</span>
					</div>

					<div class="elemento-escondido" id="conteudo_8">
						<strong>Sabendo que a margem de segurança é o faturamento que ultrapassa o valor mínimo que sua Empresa necessita para honrar com todos os compromissos financeiros e começar a possuir lucros no período, informe qual o percentual de margem de segurança em relação ao seu faturamento total, em outras palavras, qual o percentual de seu faturamento você poderia perder que mesmo assim, não fecharia com prejuízo no período.</strong>
						<br/>
						<br/>
						<strong>Exemplo de cálculo a seguir:</strong>
						<br/>
						<span  style="border:1px black solid; display: inline-block; width: 600px;">
							<section class="col-md-9">
								Faturamento do período<br/>
								Total de despesas e impostos do período<br/>
								<br/>
								Faturamento mínimo para não apurar prejuízos<br/>
								<br/>
								O percentual do ponto de equilíbrio = 200.000/1.000.000 = 0,2<br/>
								<br/>
								Cálculo da margem de segurança = 1.000.000 - 200.000<br/>
								Percentual da margem de segurança = 800.000/1.000.000 = 0,8<br/>
							</section>
							<section class="col-md-2" style="float: right;">
								<span style="white-space:pre;">     1.000.000 </span>
								<span style="white-space:pre;">       200.000 </span>
								<br/>
								<br/>
								<span style="white-space:pre;">       200.000 </span>
								<u style="white-space:pre;">                      </u><br/>
								<u style="white-space:pre;">           20%   </u><br/>
								<br/>
								<u style="white-space:pre;">      800.000  </u><br/>
								<strong style="white-space:pre;">       80% </strong><br/>
							</section>
						</span>
						<br/>
						<br/>
						<strong>Com base no exemplo, informe o percentual da margem de segurança em seu faturamento:</strong><br/>
						<br/>
						<span class="linha-resposta-vertical" id="margem-percentual">
							<section class="col-md-6">
								<input type="radio" data-category = "0" value="até 12%"> até 12%
								<br/><input type="radio" data-category = "1" value = "de 12,01% a 24%"> de 12,01% a 24%
								<br/><input type="radio" data-category = "2" value = "de 24,01% a 36%"> de 24,01% a 36%
								<br/><input type="radio" data-category = "3" value = "de 36,01% a 48%"> de 36,01% a 48%
								<br/><input type="radio" data-category = "4" value = "de 48,01% a 60%"> de 48,01% a 60%
								<br/><input type="radio" data-category = "5" value = "de 60,01% a 72%"> de 60,01% a 72%
								<br/><input type="radio" data-category = "6" value = "de 72,01% a 84%"> de 72,01% a 84%
								<br/><input type="radio" data-category = "7" value = "acima de 84%"> acima de 84%
							</section>

						</span>
					</div>

					<div class="elemento-escondido" id="conteudo_9">
						<strong>Informe a representatividade no seu faturamento total do faturamento dos 5 principais clientes de sua empresa, ou seja, dos clientes que possuem maior volume de compras, tanto em volume quanto em valores, exemplo de cálculo a seguir:</strong>
						<br/>
						<br/>
						<span  style="border:1px black solid; display: inline-block; width: 600px;">
							<section class="col-md-8">
								Faturamento do período<br/>
								Faturamento total dos 5 maiores clientes<br/>
								<br/>
								O percentual do ponto de equilíbrio = 600.000/1.000.000<br/>
							</section>
							<section class="col-md-3" style="float: right;">
								<span style="white-space:pre;">     1.000.000,00 </span>
								<span style="white-space:pre;">        600.000,00 </span>
								<br/>
								<br/>
								<strong style="white-space:pre;">                      60% </strong><br/>
							</section>
						</span>
						<br/>
						<br/>
						<span class="linha-resposta-vertical" id="representatividade-percentual">
							<section class="col-md-6">
								<input type="radio" data-category = "7" value="até 12%"> até 12%
								<br/><input type="radio" data-category = "6" value = "de 12,01% a 24%"> de 12,01% a 24%
								<br/><input type="radio" data-category = "5" value = "de 24,01% a 36%"> de 24,01% a 36%
								<br/><input type="radio" data-category = "4" value = "de 36,01% a 48%"> de 36,01% a 48%
								<br/><input type="radio" data-category = "3" value = "de 48,01% a 60%"> de 48,01% a 60%
								<br/><input type="radio" data-category = "2" value = "de 60,01% a 72%"> de 60,01% a 72%
								<br/><input type="radio" data-category = "1" value = "de 72,01% a 84%"> de 72,01% a 84%
								<br/><input type="radio" data-category = "0" value = "acima de 84%"> acima de 84%
							</section>

						</span>
					</div>

					<div class="elemento-escondido" id="conteudo_10">
						<strong>Deixe seu contato (opcional):</strong>
						<br/>
						<br/>
						<span class="linha-resposta-vertical" id="contato-usuario">
							<section class="col-md-6">
                     <div class="form-group">
                        <label class="sr-only" for="login">Nome</label>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-user"></span>
                            </div>
                            <input id="nome" type="text" name="name" class="form-control input" placeholder="Digite seu nome" required>
                        </div>
										</div>

                     <div class="form-group">
                        <label class="sr-only" for="login">Email</label>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-envelope"></span>
                            </div>
                            <input id="email" type="email" name="email" class="form-control input" placeholder="Digite seu email" required>
                        </div>
										</div>

                     <div class="form-group">
                        <label class="sr-only" for="login">Empresa</label>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-briefcase"></span>
                            </div>
                            <input id="empresa" type="text" name="name" class="form-control input" placeholder="Digite o nome de sua empresa" required>
                        </div>
										</div>
							</section>

						</span>
					</div>

				</div>

				<div class="elemento-escondido" id="conteudo_11">
						<div class="row">
							<div class="col-md-12">
									<p style="text-align: justify">Muito obrigado por participar de nossa pesquisa!.</p>
									<p id="textoResultado" class="text-muted"></p>
							</div>
						</div>

						<div class="row">
							<div class="col-md-4 botoes">
								<a id="modalResultado" class="btn btn-default" href="#">Visualizar resultados</a>
							</div>
						</div>
				</div>
			</div>
			<div class="panel-footer">
				<div id="botoesPerguntas" class="elemento-escondido">
						<div class="row">
							<div id="controles">
								<div class="col-md-6">
									<button style="float:left;" class="btn btn-default" id="botaoVolta">Voltar</button>
								</div>
								<div class="col-md-12">
									<button style="float:right;" class="btn btn-default" id="botaoAvanca">Próximo</button>
								</div>
							</div>
							<div class="elemento-escondido col-md-12">
								<button style="float:right;" class="btn btn-default" id="botaoFim">Finalizar</button>
							</div>

						</div>
				</div>
			</div>
	</div>
	</div>


		<div id="resultado" class="modal fade">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>
					<div id="container" class="modal-body">

					</div>
					<div class="modal-footer">
						<span id="texto-feedback"></span>
					</div>
				</div>
			</div>
		</div>

		<div id="liderPesquisa" class="modal fade">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
					</div>
					<div class="modal-body">
						<p>Por favor ao citar esse trabalho cite Mendonça Neto, O. R; Oyadomari, J.C.T.; Dultra-de-Lima, R.G.; Cunha, D. V.;
						Portes, M.V.M.; Silva, G.A. S; Caulada, G. S.; Severiano, D. A. Autodiagnostico de ponto de equilíbrio e margem de
						segurança. São Paulo, Universidade Presbiteriana Mackenzie, 2019.</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
					</div>
				</div>
			</div>
		</div>


	<script type="text/javascript" src="/js/jquery.js"></script>
	<script type="text/javascript" src="/js/bootstrap.js"></script>
	<script type="text/javascript" src="/js/bootbox.min.js"></script>
	<script type="text/javascript" src="/js/highcharts.js"></script>
	<script type="text/javascript" src="/js/highcharts-more.js"></script>
	<script type="text/javascript" src="/js/exporting.js"></script>
	<script type="text/javascript" src="/js/jspdf.min.js"></script>
	<script type="text/javascript" src="/js/canvg.min.js"></script>
	<script type="text/javascript" src="/js/util.js"></script>
	<script type="text/javascript" src="/js/main.js"></script>
	</body>
</html>