<!DOCTYPE html>
<html>
<head>
		<title>Controladoria</title>
		<meta charset="UTF-8"/>
		<link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

	<body>
	<div class="container">
		
		<div class="panel panel-primary">
			<div class="panel-heading"></div>
			<div class="panel-body">
				<div class="apresentacao elemento-escondido">
					<div class="row">
						<span style="text-align: center" class="titulo text-center">Pesquisa sobre Controles Gerenciais</span>
						<p class="text-muted credit">Projeto com recursos do CNPQ e vinculado ao Programa de Pós-Graduação em Ciências Contábeis da Universidade Presbiteriana Mackenzie</p>
					</div>
					<div class="elemento-escondido" style="width: 100%; height: 30px; border-bottom: 1px solid black; text-align: center">
						<span id="tituloExibido" style="font-size: 20px">
							Dados do respondente
						</span>
					</div>
					<hr id="linha"/>
					<div id="inicio">
						<div class="row">
							<p style="text-align: justify">Todos respondentes serão convidados a participar de um workshop gratuito com o tema Controles Gerenciais e Desempenho, além de receberem uma comparação dos dados versus a média da amostra. </p>
						</div>
	
						<div class="row">
							<p style="text-align: justify">Valorizamos o seu tempo, por isso preparamos um questionário breve que tem sido respondido em no máximo <strong>12 minutos</strong>.</p>
						</div>
						
						<div class="row">
							<div class="col-md-6 botoes">
								<a id="modalLider" class="btn btn-default" href="#">Líder da Pesquisa</a>
							</div>
							
							<div class="col-md-6 botoes">
								<a id="modalTermo" class="btn btn-default" href="#">Termo de confidencialidade</a>
							</div>
						</div>
						<br/>
						<div class="row">
							<div class="col-md-4">
								<input id="inicioQuestionario" type="checkbox" name="concordo" class="form-group"/>  Eu concordo
							</div>	
						</div>
				</div>
				<div class="dados-respondente row elemento-escondido">
					<div id="conteudo_1">
						<strong>Como pode melhor caracterizar a sua empresa?</strong>
						<br/>
						<br/>
							<span class="linha-resposta-vertical" id="caracteriza_empresa">
								<input type="radio"  value="Empresa Brasileira com controle Familiar"> Empresa Brasileira com controle Familiar
								<br/><input type="radio"  value="Empresa Brasileira com controle não familiar"> Empresa Brasileira com controle não familiar
								<br/><input type="radio" value="Empresa de Controle Estatal"> Empresa de Controle Estatal
								<br/><input type="radio" value="Empresa Listada na Bolsa de Valores Brasileira"> Empresa Listada na Bolsa de Valores Brasileira
								<br/><input type="radio" value="Empresa Multinacional Listada no Exterior (Capital Aberto)"> Empresa Multinacional Listada no Exterior (Capital Aberto)
								<br/><input type="radio" value="Empresa Multinacional não listada"> Empresa Multinacional não Listada
								<br/><input type="radio" value="" class="recebe-outro"> Outro: <input type="text" class="outro"/>
							</span>
					</div>
					<div class="elemento-escondido" id="conteudo_2">
						<strong>Quantos funcionários existem na sua empresa?</strong>
						<br/>
						<br/>
						
						<span class="linha-resposta-vertical" id="quantidade-funcionarios">
							<input type="radio" value="entre 1 a 50 funcionários"> entre 1 a 50 funcionários
							<br/><input type="radio" value="entre 51 a 100"> entre 51 a 100
							<br/><input type="radio" value="entre 101 a 1000"> entre 101 a 1.000
							<br/><input type="radio" value="entre 1001 a 10000"> entre 1001 a 10.000
							<br/><input type="radio" value="mais de 10000"> mais de 10.000						
						</span>

					</div>
					<div class="elemento-escondido" id="conteudo_3">
						<strong>A qual setor pertence a sua empresa?</strong>
						<br/>
						<br/>

						<span class="row linha-resposta-vertical" id="setor-empresa">
							<section class="col-md-3">
								<input type="radio" value="Agro-Negócio"> Agro-Negócio
								<br/><input type="radio" value="Alimentos, Bebidas e Fumo"> Alimentos, Bebidas e Fumo 
								<br/><input type="radio" value="Atacado e Comércio Exterior"> Atacado e Comércio Exterior
								<br/><input type="radio" value="Automotivo"> Automotivo
								
							</section>	
							<section class="col-md-3">		
								<input type="radio" value="Autopeças"> Autopeças
								<br/><input type="radio" value="Comércio Varejista"> Comércio Varejista
								<br/><input type="radio" value="Comunicações"> Comunicações
								<br/><input type="radio" value="Confecção e Têxteis"> Confecção e Têxteis
							</section>
							<section class="col-md-3">
								<input type="radio" value="Contrução Civil (Imobiliário)"> Contrução Civil (Imobiliário)
								<br/><input type="radio" value="Contrução Pesada"> Contrução Pesada
								<br/><input type="radio" value="Eletroeletrônicos"> Eletroeletrônicos
								<br/><input type="radio" value="Farmacêutica, Higiene e Cosméticos"> Farmacêutica, Higiene e Cosméticos
							</section>
							<section class="col-md-3">
								<input type="radio" value="Hospitalar e Saúde"> Hospitalar e Saúde
								<br/><input type="radio" value="Instituições Financeiras"> Instituições Financeiras
								<br/><input type="radio" value="Material de Construção"> Material de Construção
								<br/><input type="radio" value="Mecânica"> Mecânica
							</section>					
						</span>

					</div>
					
					<div class="elemento-escondido" id="conteudo_4">
						<strong>Qual é a sua área de atuação?</strong>
						<br/>
						<br/>
						<span class="linha-resposta-vertical" id="setor-usuario">
							<section class="col-md-6">
								<input type="radio" value="Administrativo"> Administrativo
								<br/><input type="radio" value="Auditoria / Controles Internos"> Auditoria / Controles Internos
								<br/><input type="radio" value = "Comercial / Vendas"> Comercial / Vendas
								<br/><input type="radio" value="Contabilidade"> Contabilidade
								<br/><input type="radio" value="Controladoria"> Controladoria
							</section>

							<section class="col-md-6">
								<input type="radio" value="Finanças"> Finanças
								<br/><input type="radio" value="Fiscal / Tributário"> Fiscal / Tributário
								<br/><input type="radio" value="Logística"> Logística
								<br/><input type="radio" value="Marketing"> Marketing
								<br/><input type="radio" value="Presidência"> Presidência 
							</section>
						</span>
					</div>
					<div class="elemento-escondido" id="conteudo_5">
						<strong>Qual é o seu nível hierárquico organizacional?</strong>
						<br/>
						<br/>
						<span class="linha-resposta-vertical" id="nivel-usuario">
							<section class="col-md-6">
								<input type="radio" value="Acionista"> Acionista
								<br/><input type="radio" value="Analista"> Analista
								<br/><input type="radio" value = "Assistente"> Assistente
								<br/><input type="radio" value="Conselheiro"> Conselheiro
								<br/><input type="radio" value="Consultor"> Consultor
							</section>

							<section class="col-md-6">
								<input type="radio" value="Coordenador"> Coordenador
								<br/><input type="radio" value="Diretor"> Diretor
								<br/><input type="radio" value="Gerente"> Gerente
								<br/><input type="radio" value="Supervisor"> Supervisor
								<br/><input type="radio" value="" class="recebe-outro"> Outro: <input type="text" class="outro"/>
							</section>
						</span>

					</div>
				</div>
				<div class="questionario row elemento-escondido">
				<p>Indique o grau de importância dos aspectos seguintes em relação aos esforços dos gestores de sua organização.
				<strong>(Assinale de 1 a 10)</strong></p>	
				<table class="table table-striped table-bordered">
						<thead>
							<tr>
								<th>Critério</th>
								<th class="text-center">Nota</th>
							</tr>	
						</thead>
						<tbody id="conteudo_6">
									<tr class="linha-resposta">
									<td>Melhorar satisfação de colaboradores</td>
									<td>
										<label class="checkbox-inline">
												<input type="radio" value="1">1
											</label>
											<label class="checkbox-inline">
												<input type="radio" value="2">2
											</label>
											<label class="checkbox-inline">
												<input type="radio" value="3">3
											</label>
											<label class="checkbox-inline">
												<input type="radio" value="4">4
											</label>
											<label class="checkbox-inline">
												<input type="radio" value="5">5
											</label>
											<label class="checkbox-inline">
												<input type="radio" value="6">6
											</label>
											<label class="checkbox-inline">
												<input type="radio" value="7">7
											</label>
											<label class="checkbox-inline">
												<input type="radio" value="8">8
											</label>
											<label class="checkbox-inline">
												<input type="radio" value="9">9
											</label>
											<label class="checkbox-inline">
												<input type="radio" value="10">10
											</label>
									</td>
								</tr>
								<tr class="linha-resposta">
									<td>Redução de custos e despesas</td>
									<td>
										<label class="checkbox-inline">
												<input type="radio" value="1">1
											</label>
											<label class="checkbox-inline">
												<input type="radio" value="2">2
											</label>
											<label class="checkbox-inline">
												<input type="radio" value="3">3
											</label>
											<label class="checkbox-inline">
												<input type="radio" value="4">4
											</label>
											<label class="checkbox-inline">
												<input type="radio" value="5">5
											</label>
											<label class="checkbox-inline">
												<input type="radio" value="6">6
											</label>
											<label class="checkbox-inline">
												<input type="radio" value="7">7
											</label>
											<label class="checkbox-inline">
												<input type="radio" value="8">8
											</label>
											<label class="checkbox-inline">
												<input type="radio" value="9">9
											</label>
											<label class="checkbox-inline">
												<input type="radio" value="10">10
											</label>
									</td>
								</tr>
								<tr class="linha-resposta">
									<td>Crescimento de vendas</td>
									<td>
										<label class="checkbox-inline">
												<input type="radio" value="1">1
											</label>
											<label class="checkbox-inline">
												<input type="radio" value="2">2
											</label>
											<label class="checkbox-inline">
												<input type="radio" value="3">3
											</label>
											<label class="checkbox-inline">
												<input type="radio" value="4">4
											</label>
											<label class="checkbox-inline">
												<input type="radio" value="5">5
											</label>
											<label class="checkbox-inline">
												<input type="radio" value="6">6
											</label>
											<label class="checkbox-inline">
												<input type="radio" value="7">7
											</label>
											<label class="checkbox-inline">
												<input type="radio" value="8">8
											</label>
											<label class="checkbox-inline">
												<input type="radio" value="9">9
											</label>
											<label class="checkbox-inline">
												<input type="radio" value="10">10
											</label>
									</td>
								</tr>
								<tr class="linha-resposta">
									<td>Melhoria do preço da ação</td>
									<td>
										<label class="checkbox-inline">
												<input type="radio" value="1">1
											</label>
											<label class="checkbox-inline">
												<input type="radio" value="2">2
											</label>
											<label class="checkbox-inline">
												<input type="radio" value="3">3
											</label>
											<label class="checkbox-inline">
												<input type="radio" value="4">4
											</label>
											<label class="checkbox-inline">
												<input type="radio" value="5">5
											</label>
											<label class="checkbox-inline">
												<input type="radio" value="6">6
											</label>
											<label class="checkbox-inline">
												<input type="radio" value="7">7
											</label>
											<label class="checkbox-inline">
												<input type="radio" value="8">8
											</label>
											<label class="checkbox-inline">
												<input type="radio" value="9">9
											</label>
											<label class="checkbox-inline">
												<input type="radio" value="10">10
											</label>
									</td>
								</tr>
						</tbody>

						<tbody class="elemento-escondido" id="conteudo_7">
							<tr class="linha-resposta">
									<td>Aumento do EBITDA</td>
									<td>
										<label class="checkbox-inline">
												<input type="radio" value="1">1
											</label>
											<label class="checkbox-inline">
												<input type="radio" value="2">2
											</label>
											<label class="checkbox-inline">
												<input type="radio" value="3">3
											</label>
											<label class="checkbox-inline">
												<input type="radio" value="4">4
											</label>
											<label class="checkbox-inline">
												<input type="radio" value="5">5
											</label>
											<label class="checkbox-inline">
												<input type="radio" value="6">6
											</label>
											<label class="checkbox-inline">
												<input type="radio" value="7">7
											</label>
											<label class="checkbox-inline">
												<input type="radio" value="8">8
											</label>
											<label class="checkbox-inline">
												<input type="radio" value="9">9
											</label>
											<label class="checkbox-inline">
												<input type="radio" value="10">10
											</label>
									</td>
								</tr>
								<tr class="linha-resposta">
									<td>Melhorar os índices relacionados a qualidade</td>
									<td>
										<label class="checkbox-inline">
												<input type="radio" value="1">1
											</label>
											<label class="checkbox-inline">
												<input type="radio" value="2">2
											</label>
											<label class="checkbox-inline">
												<input type="radio" value="3">3
											</label>
											<label class="checkbox-inline">
												<input type="radio" value="4">4
											</label>
											<label class="checkbox-inline">
												<input type="radio" value="5">5
											</label>
											<label class="checkbox-inline">
												<input type="radio" value="6">6
											</label>
											<label class="checkbox-inline">
												<input type="radio" value="7">7
											</label>
											<label class="checkbox-inline">
												<input type="radio" value="8">8
											</label>
											<label class="checkbox-inline">
												<input type="radio" value="9">9
											</label>
											<label class="checkbox-inline">
												<input type="radio" value="10">10
											</label>
									</td>
								</tr> 
								<tr class="linha-resposta">
									<td>Melhoria da margem de produtos</td>
									<td>
										<label class="checkbox-inline">
												<input type="radio" value="1">1
											</label>
											<label class="checkbox-inline">
												<input type="radio" value="2">2
											</label>
											<label class="checkbox-inline">
												<input type="radio" value="3">3
											</label>
											<label class="checkbox-inline">
												<input type="radio" value="4">4
											</label>
											<label class="checkbox-inline">
												<input type="radio" value="5">5
											</label>
											<label class="checkbox-inline">
												<input type="radio" value="6">6
											</label>
											<label class="checkbox-inline">
												<input type="radio" value="7">7
											</label>
											<label class="checkbox-inline">
												<input type="radio" value="8">8
											</label>
											<label class="checkbox-inline">
												<input type="radio" value="9">9
											</label>
											<label class="checkbox-inline">
												<input type="radio" value="10">10
											</label>
									</td>
								</tr>	
								<tr class="linha-resposta">
									<td>Melhorar reconhecimento institucional da empresa</td>
									<td>
										<label class="checkbox-inline">
												<input type="radio" value="1">1
											</label>
											<label class="checkbox-inline">
												<input type="radio" value="2">2
											</label>
											<label class="checkbox-inline">
												<input type="radio" value="3">3
											</label>
											<label class="checkbox-inline">
												<input type="radio" value="4">4
											</label>
											<label class="checkbox-inline">
												<input type="radio" value="5">5
											</label>
											<label class="checkbox-inline">
												<input type="radio" value="6">6
											</label>
											<label class="checkbox-inline">
												<input type="radio" value="7">7
											</label>
											<label class="checkbox-inline">
												<input type="radio" value="8">8
											</label>
											<label class="checkbox-inline">
												<input type="radio" value="9">9
											</label>
											<label class="checkbox-inline">
												<input type="radio" value="10">10
											</label>
									</td>
								</tr>
						</tbody>

						<tbody class="elemento-escondido" id="conteudo_8">
							<tr class="linha-resposta">
									<td>Melhoria da lucratividade</td>
									<td>
										<label class="checkbox-inline">
												<input type="radio" value="1">1
											</label>
											<label class="checkbox-inline">
												<input type="radio" value="2">2
											</label>
											<label class="checkbox-inline">
												<input type="radio" value="3">3
											</label>
											<label class="checkbox-inline">
												<input type="radio" value="4">4
											</label>
											<label class="checkbox-inline">
												<input type="radio" value="5">5
											</label>
											<label class="checkbox-inline">
												<input type="radio" value="6">6
											</label>
											<label class="checkbox-inline">
												<input type="radio" value="7">7
											</label>
											<label class="checkbox-inline">
												<input type="radio" value="8">8
											</label>
											<label class="checkbox-inline">
												<input type="radio" value="9">9
											</label>
											<label class="checkbox-inline">
												<input type="radio" value="10">10
											</label>
									</td>
								</tr>
								<tr class="linha-resposta">
									<td style="font-size:12px">Melhoraria de rentabilidade do capital empregado(ROI)</td>
									<td>
										<label class="checkbox-inline">
												<input type="radio" value="1">1
											</label>
											<label class="checkbox-inline">
												<input type="radio" value="2">2
											</label>
											<label class="checkbox-inline">
												<input type="radio" value="3">3
											</label>
											<label class="checkbox-inline">
												<input type="radio" value="4">4
											</label>
											<label class="checkbox-inline">
												<input type="radio" value="5">5
											</label>
											<label class="checkbox-inline">
												<input type="radio" value="6">6
											</label>
											<label class="checkbox-inline">
												<input type="radio" value="7">7
											</label>
											<label class="checkbox-inline">
												<input type="radio" value="8">8
											</label>
											<label class="checkbox-inline">
												<input type="radio" value="9">9
											</label>
											<label class="checkbox-inline">
												<input type="radio" value="10">10
											</label>
									</td>
								</tr> 
								<tr class="linha-resposta">
									<td>Crescer por aquisição</td>
									<td>
										<label class="checkbox-inline">
												<input type="radio" value="1">1
											</label>
											<label class="checkbox-inline">
												<input type="radio" value="2">2
											</label>
											<label class="checkbox-inline">
												<input type="radio" value="3">3
											</label>
											<label class="checkbox-inline">
												<input type="radio" value="4">4
											</label>
											<label class="checkbox-inline">
												<input type="radio" value="5">5
											</label>
											<label class="checkbox-inline">
												<input type="radio" value="6">6
											</label>
											<label class="checkbox-inline">
												<input type="radio" value="7">7
											</label>
											<label class="checkbox-inline">
												<input type="radio" value="8">8
											</label>
											<label class="checkbox-inline">
												<input type="radio" value="9">9
											</label>
											<label class="checkbox-inline">
												<input type="radio" value="10">10
											</label>
									</td>
								</tr>	
								<tr class="linha-resposta">
									<td>Conquistar novos mercados</td>
									<td>
										<label class="checkbox-inline">
												<input type="radio" value="1">1
											</label>
											<label class="checkbox-inline">
												<input type="radio" value="2">2
											</label>
											<label class="checkbox-inline">
												<input type="radio" value="3">3
											</label>
											<label class="checkbox-inline">
												<input type="radio" value="4">4
											</label>
											<label class="checkbox-inline">
												<input type="radio" value="5">5
											</label>
											<label class="checkbox-inline">
												<input type="radio" value="6">6
											</label>
											<label class="checkbox-inline">
												<input type="radio" value="7">7
											</label>
											<label class="checkbox-inline">
												<input type="radio" value="8">8
											</label>
											<label class="checkbox-inline">
												<input type="radio" value="9">9
											</label>
											<label class="checkbox-inline">
												<input type="radio" value="10">10
											</label>
									</td>
								</tr>
						</tbody>

						<tbody class="elemento-escondido" id="conteudo_9">
							<tr class="linha-resposta">
									<td>Inovação de produtos e serviços</td>
									<td>
										<label class="checkbox-inline">
												<input type="radio" value="1">1
											</label>
											<label class="checkbox-inline">
												<input type="radio" value="2">2
											</label>
											<label class="checkbox-inline">
												<input type="radio" value="3">3
											</label>
											<label class="checkbox-inline">
												<input type="radio" value="4">4
											</label>
											<label class="checkbox-inline">
												<input type="radio" value="5">5
											</label>
											<label class="checkbox-inline">
												<input type="radio" value="6">6
											</label>
											<label class="checkbox-inline">
												<input type="radio" value="7">7
											</label>
											<label class="checkbox-inline">
												<input type="radio" value="8">8
											</label>
											<label class="checkbox-inline">
												<input type="radio" value="9">9
											</label>
											<label class="checkbox-inline">
												<input type="radio" value="10">10
											</label>
									</td>
								</tr>
								<tr class="linha-resposta">
									<td>Melhoria dos processos</td>
									<td>
										<label class="checkbox-inline">
												<input type="radio" value="1">1
											</label>
											<label class="checkbox-inline">
												<input type="radio" value="2">2
											</label>
											<label class="checkbox-inline">
												<input type="radio" value="3">3
											</label>
											<label class="checkbox-inline">
												<input type="radio" value="4">4
											</label>
											<label class="checkbox-inline">
												<input type="radio" value="5">5
											</label>
											<label class="checkbox-inline">
												<input type="radio" value="6">6
											</label>
											<label class="checkbox-inline">
												<input type="radio" value="7">7
											</label>
											<label class="checkbox-inline">
												<input type="radio" value="8">8
											</label>
											<label class="checkbox-inline">
												<input type="radio" value="9">9
											</label>
											<label class="checkbox-inline">
												<input type="radio" value="10">10
											</label>
									</td>
								</tr> 
								<tr class="linha-resposta">
									<td>Vender o controle total ou parcial da empresa</td>
									<td>
										<label class="checkbox-inline">
												<input type="radio" value="1">1
											</label>
											<label class="checkbox-inline">
												<input type="radio" value="2">2
											</label>
											<label class="checkbox-inline">
												<input type="radio" value="3">3
											</label>
											<label class="checkbox-inline">
												<input type="radio" value="4">4
											</label>
											<label class="checkbox-inline">
												<input type="radio" value="5">5
											</label>
											<label class="checkbox-inline">
												<input type="radio" value="6">6
											</label>
											<label class="checkbox-inline">
												<input type="radio" value="7">7
											</label>
											<label class="checkbox-inline">
												<input type="radio" value="8">8
											</label>
											<label class="checkbox-inline">
												<input type="radio" value="9">9
											</label>
											<label class="checkbox-inline">
												<input type="radio" value="10">10
											</label>
									</td>
								</tr>	
								<tr class="linha-resposta">
									<td>Diminuir o endividamento</td>
									<td>
										<label class="checkbox-inline">
												<input type="radio" value="1">1
											</label>
											<label class="checkbox-inline">
												<input type="radio" value="2">2
											</label>
											<label class="checkbox-inline">
												<input type="radio" value="3">3
											</label>
											<label class="checkbox-inline">
												<input type="radio" value="4">4
											</label>
											<label class="checkbox-inline">
												<input type="radio" value="5">5
											</label>
											<label class="checkbox-inline">
												<input type="radio" value="6">6
											</label>
											<label class="checkbox-inline">
												<input type="radio" value="7">7
											</label>
											<label class="checkbox-inline">
												<input type="radio" value="8">8
											</label>
											<label class="checkbox-inline">
												<input type="radio" value="9">9
											</label>
											<label class="checkbox-inline">
												<input type="radio" value="10">10
											</label>
									</td>
								</tr>
						</tbody>
							
					</table>
					
				</div>

				<div class="elemento-escondido" id="conteudo_">
						<div class="row">
							<p style="text-align: justify">Muito obrigado por participar de nossa pesquisa!.</p>
						</div>

						<div class="row">
							<div class="col-md-6 botoes">
								<a id="modalResultado" class="btn btn-default" href="#">Clique aqui para conferir seu resultado</a>
							</div>
						</div>
				</div>
			</div>
			
		</div>
			<div class="panel-footer">
						<button class="btn btn-default botao">Avançar</button>
				<div id="botoesPerguntas" class="elemento-escondido">
						<div class="row">
							<div class="col-md-6 elemento-escondido">
								<button id="botaoVolta" style="float:left;" class="btn btn-default">Voltar</button>
							</div>
							
							<div class="col-md-12">
								<button style="float:right;" class="btn btn-default" id="botaoAvanca">Próximo</button>
							</div>
						</div>
				</div>
					<div class="elemento-escondido col-md-12">
								<button style="float:right;" class="btn btn-default" id="botaoFim">Finalizar</button>
					</div>
			</div>
	</div>
	</div>

		<div id="liderPesquisa" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
				</div>
				<div class="modal-body">
					<p>Prof. Dr. José Carlos T. Oyadomari - Mackenzie e Insper</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
				</div>
			</div>
		</div>
	</div>

	<div id="termo" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
				</div>
				<div class="modal-body ">
					<!-- Wrapper for slides -->
					<div>
						<div id="item_1">
							<p>O objetivo dessa pesquisa é entender as práticas de controle gerencial usadas pelos gestores. A pesquisa tem finalidade acadêmica e nenhum dado que permita identificar o respondente e a empresa será divulgado.</p>
						</div>

						<div id="item_2">
							<p>Clicando no item <strong>Eu concordo</strong> você concorda VOLUNTARIAMENTE em participar dessa pesquisa. Se você tiver qualquer dúvida antes, durante ou depois de ter completado o questionário você pode falar com Oyadomari pelo e-mail oyadomari@mackenzie.br</p>
						</div>
					</div>

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" id="avanca">Próximo</button>
					<button type="button" class="btn btn-default" id="fechaModal" data-dismiss="modal">Fechar</button>
				</div>
				</div>
			</div>
		</div>

		<div id="resultado" class="modal fade">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="body">
							<img src="/img/grafico.png"/>
					</div>
				</div>
			</div>
		</div>
	
	<script type="text/javascript" src="/js/jquery.js"></script>
	<script type="text/javascript" src="/js/bootstrap.js"></script>
	<script type="text/javascript" src="/js/bootbox.min.js"></script>
	<script type="text/javascript" src="/js/main.js"></script>
	</body>
</html>