<!DOCTYPE html>
<html>
<head>
		<title>Controladoria</title>
		<meta charset="UTF-8"/>
		<link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		<link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="/css/iconfont/material-icons.css">
</head>

	<body>

	<div class="img-header">
		<img class="img-item left" src="/img/marca_CCSA.png"/>
		<img class="img-item right" src="/img/marca_computação_informatica.png"/>
	</div>
	<div class="container-fluid">
		<div class="panel panel-primary">
			<div class="panel-heading"></div>
			<div class="panel-body">
				<div class="row">
					<span style="padding: 0px 30px 0px 90px" class="titulo text-center">Autodiagnóstico de alinhamento de indicadores e controles gerenciais</span>

				</div>
				<br/>
				<p class="text-muted credit">Projeto com recursos do Mackpesquisa e vinculado ao Programa de Pós-Graduação em Ciências Contábeis da Universidade Presbiteriana Mackenzie</p>
					<div class="elemento-escondido" style="width: 100%; height: 30px; border-bottom: 1px solid black; text-align: center">
						<span id="tituloExibido" style="font-size: 20px">

						</span>
					</div>
					<hr id="linha"/>

					<div class="apresentacao elemento-escondido">
						<div id="conteudo_0">
							<div class="row">
								<p style="text-align: justify">O alinhamento dos objetivos de uma organização com os indicadores é importante, pois você poderá direcionar os esforços dos gestores para atingirem os objetivos organizacionais. Além disso, o uso adequado das ferramentas de controle gerencial ajuda a organização a ter melhor desempenho. </p>
							</div>

							<div class="row">
								<p style="text-align:justify">O autodiagnóstico dura geralmente em torno de dez minutos, ao final você receberá um feedback indicando pontos de atenção para melhoria dos controles de sua organização.</p>
							</div>

							<br/>
							<div class="row">
								<div class="col-md-6 botoes">
									<a id="modalLider" class="btn btn-default" href="#">Líder da pesquisa</a>
								</div>

								<div class="col-md-6 botoes">
									<a id="modalTermo" class="btn btn-default" target = "_blank" href="/controladoria/termo">Termo de confidencialidade</a>
								</div>
							</div>
							<br/>
							<div class="row">
								<div class="col-md-4">
									<input id="inicioQuestionario" type="checkbox" name="concordo" class="form-group"/>  Eu concordo
								</div>
							</div>
					</div>
					</div>
				<div class="dados-respondente col-md-12 elemento-escondido">
					<div  id="conteudo_1">
						<strong>Afim de enquadrar sua empresa entre micro empresa (ME), Empresa de pequeno porte (EPP), ou Empresa de Grande porte, com base na Lei complementar 155 de 2016, nos informe em qual faturamento sua Empresa se enquadra</strong>
						<br/>
						<br/>

						<span class="linha-resposta-vertical" id="faturamento-empresa">
							<input type="radio" data-categoria = "1" value="até R$ 360.000,00"> até R$ 360.000,00
							<br/><input type="radio" data-categoria = "2" value="entre R$ 360.0001,00 a R$ 4.800.000,00"> entre R$ 360.0001,00 a R$ 4.800.000,00
							<br/><input type="radio" data-categoria = "3" value="acima de R$ 4.800.001,00"> acima de R$ 4.800.001,00
						</span>

					</div>
					<div class="elemento-escondido" id="conteudo_2">
						<strong>Indique em qual região geográfica sua empresa está localizada</strong>
						<br/>
						<br/>

						<span class="row linha-resposta-vertical" id="regiao-empresa">

								<input type="radio" data-categoria = "1" value="Centro-Oeste"> Centro-Oeste
								<br/><input type="radio" data-categoria = "2" value="Nordeste"> Nordeste
								<br/><input type="radio" data-categoria = "3" value="Norte"> Norte
								<br/><input type="radio" data-categoria = "4" value="Sul"> Sul
								<br/><input type="radio" data-categoria = "5" value="Sudeste"> Sudeste

						</span>

					</div>

					<div class="elemento-escondido" id="conteudo_3">
						<strong>Indique em qual segmento sua Empresa atua</strong>
						<br/>
						<br/>
						<span class="linha-resposta-vertical" id="segmento-empresa">
							<section class="col-md-6">
								<input type="radio" data-categoria = "1" value="Prestação de serviços"> Prestação de serviços
								<br/><input type="radio" data-categoria = "2" value="Comércio"> Comércio
								<br/><input type="radio" data-categoria = "3" value = "Industria"> Industria
								<br/><input type="radio" data-categoria = "4" value = "Todas as alternativas"> Todas as alternativas
							</section>

						</span>
					</div>

					<div class="elemento-escondido" id="conteudo_4">
						<strong>Sabendo-se que a margem de contribuição é o total dos custos variáveis necessários para a produção de um determinado produto, como as matérias primas, materiais secundários, e outros custos que variam com base no volume de produção, nos informe o percentual da margem de contribuição no custo total de seu produto vendido</strong>
						<br/>
						<br/>
						<span class="linha-resposta-vertical" id="contribuicao-percentual">
							<section class="col-md-6">
								<input type="radio" data-categoria = "0" value="0"> até 12%
								<br/><input type="radio" data-categoria = "1" value = "1"> de 12,01% a 24%
								<br/><input type="radio" data-categoria = "2" value = "2"> de 24,01% a 36%
								<br/><input type="radio" data-categoria = "3" value = "3"> de 36,01% a 48%
								<br/><input type="radio" data-categoria = "4" value = "4"> de 48,01% a 60%
								<br/><input type="radio" data-categoria = "5" value = "5"> de 60,01% a 72%
								<br/><input type="radio" data-categoria = "6" value = "6"> de 72,01% a 84%
								<br/><input type="radio" data-categoria = "7" value = "7"> acima de 84%
							</section>

						</span>
					</div>

					<div class="elemento-escondido" id="conteudo_5">
						<strong>Considerando que o ponto de equilíbrio é o volume mínimo que sua Empresa pode vender para não obter prejuízo ou lucro no ano, nos informe qual percentual de seu faturamento é necessário para alcançar o ponto de equilíbrio</strong>
						<br/>
						<br/>
						<span class="linha-resposta-vertical" id="faturamento-percentual">
							<section class="col-md-6">
								<input type="radio" data-categoria = "0" value="0"> até 12%
								<br/><input type="radio" data-categoria = "1" value = "1"> de 12,01% a 24%
								<br/><input type="radio" data-categoria = "2" value = "2"> de 24,01% a 36%
								<br/><input type="radio" data-categoria = "3" value = "3"> de 36,01% a 48%
								<br/><input type="radio" data-categoria = "4" value = "4"> de 48,01% a 60%
								<br/><input type="radio" data-categoria = "5" value = "5"> de 60,01% a 72%
								<br/><input type="radio" data-categoria = "6" value = "6"> de 72,01% a 84%
								<br/><input type="radio" data-categoria = "7" value = "7"> acima de 84%
							</section>

						</span>
					</div>

					<div class="elemento-escondido" id="conteudo_6">
						<strong>A margem de segurança seria o volume de produção projetado a maior do volume apurado pelo ponto de equilíbrio, ou seja, a diferença positiva entre volume projetado para venda e volume necessário para atingir o ponto de equilíbrio. Sendo assim, nos informe qual o percentual de sua margem de contribuição</strong>
						<br/>
						<br/>
						<span class="linha-resposta-vertical" id="margem-percentual">
							<section class="col-md-6">
								<input type="radio" value="0"> até 12%
								<br/><input type="radio" value = "1"> de 12,01% a 24%
								<br/><input type="radio" value = "2"> de 24,01% a 36%
								<br/><input type="radio" value = "3"> de 36,01% a 48%
								<br/><input type="radio" value = "4"> de 48,01% a 60%
								<br/><input type="radio" value = "5"> de 60,01% a 72%
								<br/><input type="radio" value = "6"> de 72,01% a 84%
								<br/><input type="radio" value = "7"> acima de 84%
							</section>

						</span>
					</div>

					<div class="elemento-escondido" id="conteudo_7">
						<strong>A diversificação de clientes é fator importante para a definição da margem de segurança operacional da Empresa, sendo assim, nos informe a representatividade dos 5 principais clientes de sua Empresa em relação ao faturamento total</strong>
						<br/>
						<br/>
						<span class="linha-resposta-vertical" id="representatividade-percentual">
							<section class="col-md-6">
								<input type="radio" value="0"> até 12%
								<br/><input type="radio" value = "1"> de 12,01% a 24%
								<br/><input type="radio" value = "2"> de 24,01% a 36%
								<br/><input type="radio" value = "3"> de 36,01% a 48%
								<br/><input type="radio" value = "4"> de 48,01% a 60%
								<br/><input type="radio" value = "5"> de 60,01% a 72%
								<br/><input type="radio" value = "6"> de 72,01% a 84%
								<br/><input type="radio" value = "7"> acima de 84%
							</section>

						</span>
					</div>

					<div class="elemento-escondido" id="conteudo_8">
						<strong>Deixe seu contato (opcional):</strong>
						<br/>
						<br/>
						<span class="linha-resposta-vertical" id="contato-usuario">
							<section class="col-md-6">
                     <div class="form-group">
                        <label class="sr-only" for="login">Nome</label>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-user"></span>
                            </div>
                            <input id="nome" type="text" name="name" class="form-control input" placeholder="Digite seu nome" required>
                        </div>
										</div>

                     <div class="form-group">
                        <label class="sr-only" for="login">Email</label>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-envelope"></span>
                            </div>
                            <input id="email" type="email" name="email" class="form-control input" placeholder="Digite seu email" required>
                        </div>
										</div>

                     <div class="form-group">
                        <label class="sr-only" for="login">Empresa</label>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-briefcase"></span>
                            </div>
                            <input id="empresa" type="text" name="name" class="form-control input" placeholder="Digite o nome de sua empresa" required>
                        </div>
										</div>
							</section>

						</span>
					</div>

				</div>

				<div class="elemento-escondido" id="conteudo_9">
						<div class="row">
							<div class="col-md-12">
									<p style="text-align: justify">Muito obrigado por participar de nossa pesquisa!.</p>
									<p id="textoResultado" class="text-muted"></p>
							</div>
						</div>

						<div class="row">
							<div class="col-md-4 botoes">
								<a id="modalResultado" class="btn btn-default" href="#">Visualizar resultados</a>
							</div>
						</div>
				</div>
			</div>
			<div class="panel-footer">
				<div id="botoesPerguntas" class="elemento-escondido">
						<div class="row">
							<div id="controles">
								<div class="col-md-6">
									<button style="float:left;" class="btn btn-default" id="botaoVolta">Voltar</button>
								</div>
								<div class="col-md-12">
									<button style="float:right;" class="btn btn-default" id="botaoAvanca">Próximo</button>
								</div>
							</div>
							<div class="elemento-escondido col-md-12">
								<button style="float:right;" class="btn btn-default" id="botaoFim">Finalizar</button>
							</div>

						</div>
				</div>
			</div>
	</div>
	</div>


		<div id="resultado" class="modal fade">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>
					<div id="container" class="modal-body">

					</div>
					<div class="modal-footer">
						<span id="texto-feedback"></span>
					</div>
				</div>
			</div>
		</div>

		<div id="liderPesquisa" class="modal fade">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
					</div>
					<div class="modal-body">
						<p>Por favor ao citar esse trabalho cite
								Oyadomari, J.C.T; Malagueño, R. ; Cunha, D. V. ; Silva, G.A.S ; Mendonça Neto, O.R; Teste de Alinhamento de Objetivos e Ferramentas de Controle Gerencial.  São Paulo,  Universidade Presbiteriana Mackenzie, 2018. </p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
					</div>
				</div>
			</div>
		</div>


	<script type="text/javascript" src="/js/jquery.js"></script>
	<script type="text/javascript" src="/js/bootstrap.js"></script>
	<script type="text/javascript" src="/js/bootbox.min.js"></script>
	<script type="text/javascript" src="/js/highcharts.js"></script>
	<script type="text/javascript" src="/js/highcharts-more.js"></script>
	<script type="text/javascript" src="/js/exporting.js"></script>
	<script type="text/javascript" src="/js/jspdf.min.js"></script>
	<script type="text/javascript" src="/js/canvg.min.js"></script>
	<script type="text/javascript" src="/js/util.js"></script>
	<script type="text/javascript" src="/js/main.js"></script>
	</body>
</html>