<!DOCTYPE html>
<html>
<head>
		<title>Controladoria</title>
		<meta charset="UTF-8"/>
        <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="/css/main.css">
		<link rel="stylesheet" type="text/css" href="/css/main-login.css">

</head>

	<body>
	<div class="container">
       <div class="row">
         <div class="panel panel-primary">
            <div class="panel-heading">
            </div>

            <div class="panel-body">

                <div class="apresentacao elemento-escondido">
					<div class="row">
						<span style="text-align: center" class="titulo text-center">Pesquisa sobre Controles Gerenciais</span>
						<p class="text-muted credit">Projeto com recursos do CNPQ e vinculado ao Programa de Pós-Graduação em Ciências Contábeis da Universidade Presbiteriana Mackenzie</p>
                    </div>
                    <hr/>
					<div id="inicio">
						<div class="row">
							<p style="text-align: justify">Todos respondentes serão convidados a participar de um workshop gratuito com o tema Controles Gerenciais e Desempenho, além de receberem uma comparação dos dados versus a média da amostra. </p>
						</div>
	
						<div class="row">
							<p style="text-align: justify">Valorizamos o seu tempo, por isso preparamos um questionário breve que tem sido respondido em no máximo <strong>12 minutos</strong>.</p>
						</div>
						
						<div class="row">
							<div class="col-md-6 botoes">
								<a id="modalLider" class="btn btn-default" href="#">Líder da Pesquisa</a>
							</div>
							
							<div class="col-md-6 botoes">
								<a id="modalTermo" class="btn btn-default" href="#">Termo de confidencialidade</a>
							</div>
						</div>
						<br/>
						<div class="row">
							<div class="col-md-4">
								<input id="inicioQuestionario" type="checkbox" name="concordo" class="form-group"/>  Eu concordo
							</div>	
						</div>
				</div>
                </div>
              <div id="login" class="elemento-escondido form-box ">
               
                <form action="/controladoria/login" method="post">
                    <h3 class="text-center">Já possui cadastro?</h3>

                    <div class="form-group">
                        <label class="sr-only" for="login">Usuário</label>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-envelope"></span>
                            </div>
                            <input id="email" type="email" name="email" class="form-control input" placeholder="Digite seu email de usuário" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="sr-only" for="senha">Senha</label>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-lock"></span>
                            </div>
                            <input id="senha" type="password" name="senha" class="form-control input" placeholder="Digite sua senha" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Entrar" class="btn btn-success form-control">
                    </div>
        
                    <div class="form-group">
                        Não é registrado? <a href="#" id="mostrarCadastro">Crie uma conta</a>.
                    </div>
                </form>
            </div>
            
               
            <div id="cadastro" class="form-box elemento-escondido">
                <form action="" method="post">
                    <h3 class="text-center">Crie sua conta!</h3>

                    <div class="form-group">
                        <label class="sr-only" for="login">Nome</label>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-user"></span>
                            </div>
                            <input id="nome" type="text" name="nome" class="form-control input" placeholder="Digite seu nome" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="sr-only" for="email">Email</label>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-envelope"></span>
                            </div>
                            <input id="email-cadastro" type="email" name="email" class="form-control input" placeholder="Digite seu email" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="sr-only" for="senha">Senha</label>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-lock"></span>
                            </div>
                            <input id="senha-cadastro" type="password" name="senha" class="form-control input" placeholder="Digite sua senha" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <input id="cadastrar" type="submit" value="Cadastrar" class="btn btn-success form-control">
                    </div>
        
                    <div class="form-group">
                        Já possui uma conta? <a href="#" id="mostrarLogin">Realize seu login</a>.
                    </div>
                </form>
            </div>
            </div>
            <div class ="panel-footer">
                <%if(erro != undefined){%>
                    <span id="mensagemErro">
                        <strong><%=erro%></strong>
                    </span>
                <%}%>
                    <span id="feedback" class="elemento-escondido">
                        <strong>Por favor, preencha todos os campos corretamente</strong>
                    </span>
                    <span id="cadastro-sucesso" class="elemento-escondido">
                        <strong>Cadastro realizado com sucesso!</strong>
                    </span>
                    <span id="erro-cadastro" class="elemento-escondido">
                        <strong></strong>
                    </span>
					<button class="btn btn-default" id="botaoAvanca"  disabled="true">Avançar</button>
            </div>
       </div>
    </div>
    </div>

    	<div id="liderPesquisa" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
				</div>
				<div class="modal-body">
					<p>Prof. Dr. José Carlos T. Oyadomari - Mackenzie</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
				</div>
			</div>
		</div>
	</div>

	<div id="termo" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
				</div>
				<div class="modal-body ">
					<!-- Wrapper for slides -->
					<div>
						<div id="item_1">
							<p>O objetivo dessa pesquisa é entender as práticas de controle gerencial usadas pelos gestores. A pesquisa tem finalidade acadêmica e nenhum dado que permita identificar o respondente e a empresa será divulgado.</p>
						</div>

						<div id="item_2">
							<p>Clicando no item <strong>Eu concordo</strong> você concorda VOLUNTARIAMENTE em participar dessa pesquisa. Se você tiver qualquer dúvida antes, durante ou depois de ter completado o questionário você pode falar com Oyadomari pelo e-mail oyadomari@mackenzie.br</p>
						</div>
					</div>

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" id="avanca">Próximo</button>
					<button type="button" class="btn btn-default" id="fechaModal" data-dismiss="modal">Fechar</button>
				</div>
				</div>
			</div>
		</div>
    

	<script type="text/javascript" src="/js/jquery.js"></script>
	<script type="text/javascript" src="/js/bootstrap.js"></script>
	<script type="text/javascript" src="/js/bootbox.min.js"></script>
	<script type="text/javascript" src="/js/login/main-login.js"></script>
	</body>
</html>
