<!DOCTYPE html>
<html>
<head>
		<title>Controladoria</title>
		<meta charset="UTF-8"/>
        <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="/css/main.css">
		<link rel="stylesheet" type="text/css" href="/css/main-login.css">

</head>

	<body>
	<div class="container">
       <div class="row">
         <div class="panel panel-primary">
            <div class="panel-heading">
            </div>
              <div id="login" class="form-box ">
               
                <form action="/login" method="post">
                    <h3 class="text-center">Já possui cadastro?</h3>

                    <div class="form-group">
                        <label class="sr-only" for="login">Usuário</label>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-envelope"></span>
                            </div>
                            <input id="email" type="email" name="email" class="form-control input" placeholder="Digite seu email de usuário" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="sr-only" for="senha">Senha</label>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-lock"></span>
                            </div>
                            <input id="senha" type="password" name="senha" class="form-control input" placeholder="Digite sua senha" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Entrar" class="btn btn-success form-control">
                    </div>
        
                    <div class="form-group">
                        Não é registrado? <a href="#" id="mostrarCadastro">Crie uma conta</a>.
                    </div>
                </form>
            </div>
            
               
            <div id="cadastro" class="form-box elemento-escondido">
                <form action="/cadastro" method="post">
                    <h3 class="text-center">Crie sua conta!</h3>

                    <div class="form-group">
                        <label class="sr-only" for="login">Nome</label>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-user"></span>
                            </div>
                            <input id="nome" type="text" name="nome" class="form-control input" placeholder="Digite seu nome" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="sr-only" for="email">Email</label>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-envelope"></span>
                            </div>
                            <input id="email-cadastro" type="email" name="email" class="form-control input" placeholder="Digite seu email" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="sr-only" for="senha">Senha</label>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-lock"></span>
                            </div>
                            <input id="senha-cadastro" type="password" name="senha" class="form-control input" placeholder="Digite sua senha" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <input id="cadastrar" type="submit" value="Cadastrar" class="btn btn-success form-control">
                    </div>
        
                    <div class="form-group">
                        Já possui uma conta? <a href="#" id="mostrarLogin">Realize seu login</a>.
                    </div>
                </form>
            </div>
            <div class ="panel-footer">
                <%if(erro != undefined){%>
                    <span id="mensagemErro">
                        <strong><%=erro%></strong>
                    </span>
                <%}%>
                    <span id="feedback" class="elemento-escondido">
                        <strong>Por favor, preencha todos os campos corretamente</strong>
                    </span>
                    <span id="cadastro-sucesso" class="elemento-escondido">
                        <strong>Cadastro realizado com sucesso!</strong>
                    </span>
                    <span id="erro-cadastro" class="elemento-escondido">
                        <strong></strong>
                    </span>
            </div>
            
        </div>
       </div>
    </div>
    

	<script type="text/javascript" src="/js/jquery.js"></script>
	<script type="text/javascript" src="/js/bootstrap.js"></script>
	<script type="text/javascript" src="/js/bootbox.min.js"></script>
	<script type="text/javascript" src="/js/login/main-login.js"></script>
	</body>
</html>
